---
// component imports
import Link from "./Link.astro";


const { prevUrl, nextUrl } = Astro.props;

---

<nav aria-label="Blog Pages">
    {
        prevUrl && (
            <Link
                text="Previous"
                href={prevUrl}
                style="primary"
                borderVisible={true}
                isFilled={false}
                icon={
                    {
                    name: "mdi:arrow-left",
                    side: "left",
                    }
                }
                />
        )
    }

    {
        nextUrl && (
            <Link
                text="Next"
                href={nextUrl}
                style="primary"
                borderVisible={true}
                isFilled={false}
                icon={
                    {
                    name: "mdi:arrow-right",
                    side: "right",
                    }
                }
                />
        )
    }
</nav>